POST /api/definitions requests are rejected with a 415 if content-type header specifies a charset

Sending an JSON definition to /api/definitions fails, if content-type has charset set.

Without charset:
```
$ curl -X 'POST' 'http://10.0.116.18:15672/api/definitions' -H 'Content-Type: application/json' -d '{"rabbit_version":"3.7.8",...}' --user "admin:XXX" -v
Note: Unnecessary use of -X or --request, POST is already inferred.
*   Trying 10.0.116.18...
* TCP_NODELAY set
* Connected to 10.0.116.18 (10.0.116.18) port 15672 (#0)
* Server auth using Basic with user 'admin'
> POST /api/definitions HTTP/1.1
> Host: 10.0.116.18:15672
> Authorization: Basic YWRtaW46cmltQnVnRmVHcmltbmVyMA==
> User-Agent: curl/7.52.1
> Accept: */*
> Content-Type: application/json
> Content-Length: 594
> 
* upload completely sent off: 594 out of 594 bytes
< HTTP/1.1 204 No Content
< content-security-policy: default-src 'self'
< date: Tue, 14 May 2019 16:45:55 GMT
< server: Cowboy
< vary: accept, accept-encoding, origin
< 
* Curl_http_done: called premature == 0
* Connection #0 to host 10.0.116.18 left intact
```

With charset (415 error):
```
$ curl -X 'POST' 'http://10.0.116.18:15672/api/definitions' -H 'Content-Type: application/json; charset=utf-8' -d '{"rabbit_version":"3.7.8",...],"permissions":[{"user":"chell_platform","vhost":"samus/platform/push","configure":"","write":".*","read":""},{"user":"chell_platform","vhost":"samus/platform/push","configure":"","write":"","read":".*"}]}' --user "admin:XXX" -v
Note: Unnecessary use of -X or --request, POST is already inferred.
*   Trying 10.0.116.18...
* TCP_NODELAY set
* Connected to 10.0.116.18 (10.0.116.18) port 15672 (#0)
* Server auth using Basic with user 'admin'
> POST /api/definitions HTTP/1.1
> Host: 10.0.116.18:15672
> Authorization: Basic YWRtaW46cmltQnVnRmVHcmltbmVyMA==
> User-Agent: curl/7.52.1
> Accept: */*
> Content-Type: application/json; charset=utf-8
> Content-Length: 594
> 
* upload completely sent off: 594 out of 594 bytes
< HTTP/1.1 415 Unsupported Media Type
< content-length: 0
< content-security-policy: default-src 'self'
< date: Tue, 14 May 2019 16:09:32 GMT
< server: Cowboy
< vary: accept, accept-encoding, origin
< 
* Curl_http_done: called premature == 0
* Connection #0 to host 10.0.116.18 left intact
```
The definitions are identical. Error 415 is also returned for `Content-Type: application/json;charset=utf-8`

While the `charset` parameter is not defined for application/json, all parameters after `;` should be disregarded when detecting content-type. Some of the http client libraries are sending this parameter, as sometimes services break without it (see issue #633)

----

In order for the RabbitMQ team to investigate your issue, please provide
**as much as possible** of the following details:
  
* RabbitMQ version - 3.7.14
* Erlang version
```
Erlang/OTP 21 [erts-10.3.4] [source] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:1] [hipe]

Eshell V10.3.4 
```
* RabbitMQ plugin information via `rabbitmq-plugins list`
```
# rabbitmq-plugins list
Listing plugins with pattern ".*" ...
 Configured: E = explicitly enabled; e = implicitly enabled
 | Status: * = running on rabbit@rabbitmq-0.rabbitmq.default.svc.cluster.local
 |/
[  ] rabbitmq_amqp1_0                  3.7.14
[  ] rabbitmq_auth_backend_cache       3.7.14
[  ] rabbitmq_auth_backend_http        3.7.14
[  ] rabbitmq_auth_backend_ldap        3.7.14
[  ] rabbitmq_auth_mechanism_ssl       3.7.14
[  ] rabbitmq_consistent_hash_exchange 3.7.14
[  ] rabbitmq_event_exchange           3.7.14
[  ] rabbitmq_federation               3.7.14
[  ] rabbitmq_federation_management    3.7.14
[  ] rabbitmq_jms_topic_exchange       3.7.14
[E*] rabbitmq_management               3.7.14
[e*] rabbitmq_management_agent         3.7.14
[  ] rabbitmq_mqtt                     3.7.14
[  ] rabbitmq_peer_discovery_aws       3.7.14
[e*] rabbitmq_peer_discovery_common    3.7.14
[  ] rabbitmq_peer_discovery_consul    3.7.14
[  ] rabbitmq_peer_discovery_etcd      3.7.14
[E*] rabbitmq_peer_discovery_k8s       3.7.14
[  ] rabbitmq_random_exchange          3.7.14
[  ] rabbitmq_recent_history_exchange  3.7.14
[  ] rabbitmq_sharding                 3.7.14
[  ] rabbitmq_shovel                   3.7.14
[  ] rabbitmq_shovel_management        3.7.14
[  ] rabbitmq_stomp                    3.7.14
[  ] rabbitmq_top                      3.7.14
[  ] rabbitmq_tracing                  3.7.14
[  ] rabbitmq_trust_store              3.7.14
[e*] rabbitmq_web_dispatch             3.7.14
[  ] rabbitmq_web_mqtt                 3.7.14
[  ] rabbitmq_web_mqtt_examples        3.7.14
[  ] rabbitmq_web_stomp                3.7.14
[  ] rabbitmq_web_stomp_examples       3.7.14
```
* Client library version (for all libraries used)
axios 0.18.0
* Operating system, version, and patch level
official rabbitmq:3.7-management docker image
```
# cat /etc/os-release 
NAME="Ubuntu"
VERSION="18.04.2 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.2 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME=bionic
```


> ...all parameters after ; should be disregarded when detecting content-type.

I'm pretty sure that's not a correct statement.

@essen will have input on this issue.

Our endpoints do not specify what charsets are supported using [`charsets_provided/2`](https://ninenines.eu/docs/en/cowboy/2.6/manual/cowboy_rest/). By default Cowboy uses the first charset specified in the `accept-charset` header.

I believe [JSON only supports the UTF-8 encoding](https://tools.ietf.org/html/rfc7158#section-8.1). We can add `charsets_provided/2` to all endpoints but I don't know if this change would make sense.
It might be worth doing for better usability.

@michaelklishin I think we'd just have to modify `content_types_accepted` to this -

```
content_types_accepted(ReqData, Context) ->
    {[{{<<"application">>, <<json">>, '*'}, accept_json},
      {{<<"multipart">>, <<"form-data">>, '*'}, accept_multipart}], ReqData, Context}.
```

@lukebakken at end of section 11 of [RFC 8259](https://tools.ietf.org/html/rfc8259#section-11)
> Note:  No "charset" parameter is defined for this registration.
>      Adding one really has no effect on compliant recipients.

What should happen if undefined parameters are present may be specified in RFCs regarding HTTP headers and header parameters.

I guess discarding quietly charsets, or checking if they are equal utf-8 will do best for compatibility with clients.


`application/json; charset=utf-8` makes no sense, there's no charset parameter to JSON. But some people/clients send it regardless. The change by @lukebakken is correct for ignoring any extra parameters.